<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

  <div class="login">
            <h1>Welcome to our song Suggestor!</h1>
            <h2>What Do You Wanna Hear?</h2>
              <form id='namesubmit' action="/" method="post">
                <input autocomplete="off" autofocus name="name" placeholder="What Is Your Name?" type="text"></input>
                <input name='submit' type="submit"></input>
              </form>
  </div>
</html>